@use '../../../../public/styles/variables' as *;
@use '../../../../public/styles/mixins' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index-dropdown;
  background: $background-white;
  box-shadow: $shadow-sm;
  width: 100%; // Added width calculation to ensure proper space for icons

  @include breakpoint(md) {
    left: 260px;
    width: calc(100% - 260px); // Explicitly set width to account for sidebar offset
  }
}

.menu-button {
  display: none;
}

.header-title {
  font-size: $font-size-h6;
  font-weight: $font-weight-medium;
}

.spacer {
  flex: 1;
}

.header button[mat-icon-button]:not(.menu-button) {
  display: inline-flex !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.header button[mat-icon-button] mat-icon {
  display: inline-block !important;
  visibility: visible !important;
}
