@use '../../public/styles/variables' as *;
@use '../../public/styles/mixins' as *;

.main-content {
  margin-left: 0;
  margin-top: 64px;
  margin-bottom: 60px;
  min-height: calc(100vh - 124px);
  width: 100%;
  overflow-x: hidden;

  @include breakpoint(md) {
    margin-left: 260px;
    margin-bottom: 0;
    min-height: calc(100vh - 64px);
  }
}
