@use '../../public/styles/variables' as *;
@use '../../public/styles/mixins' as *;

.main-content {
  position: fixed;
  left: 0;
  top: 64px;
  bottom: 60px;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;

  @include breakpoint(md) {
    left: 260px;
    bottom: 0;
  }
}
