@use '../public/styles/variables' as *;
@use '../public/styles/typography';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  max-width: $max-content-width;
  margin: 0 auto;
}
